

<section class="about_sdsu">

    <h1>SDSU-G</h1>

    <div class="buttons">
        <button id="btnFadeOut">Fade Out</button>
        <button id="btnFadeIn">Fade In</button>
        <button id="btnFadeTog">Fade Toggle</button>


    </div>
    <div class="info">
        <img src="~/images/sdsu1.jpg" class="img_sdsu">
        <p id="sdsu_info">
            San Diego State University – Georgia (SDSU-Georgia) and Tbilisi State University (TSU) held a joint event announcing admission of students into internationally accredited bachelor degree programs developed in partnership with San Diego State University, starting from 2020-2021 academic year.

            During the event the speakers
            have shared updates and news on
            granting international accreditation
            to these programs at partner universities,
            n particular the official ABET*
            accreditation of the TSU 2020 degree
            programs in Electrical and Electronics
            Engineering and Computer Science, as well
            as ACS** certification of
            biochemistry/chemistry program at TSU.
        </p>
    </div>

    <h1>Proffessors</h1>
    <table class="teachers">
        <tr>
            <th>Name</th>
            <th>Picture</th>
            <th>Subject</th>
        </tr>
        <tr>
            <td>Giorgi Chelidze</td>
            <td><img src="~/images/chelo.jpg"></td>
            <td>Math</td>
        </tr>
        <tr>
            <td>Irakli murtskvaladze</td>
            <td><img src="~/images/martskvala.jpg"></td>
            <td>Economics</td>
        </tr>
        <tr>
            <td>Magda Tsintsadze</td>
            <td><img src="~/images/magda.jpg"> </td>
            <td>Computer Science, Computer Engineering</td>
        </tr>
        <tr>
            <td>Natro</td>
            <td><img src="~/images/natro.jpg.png" id="natro"></td>
            <td>MATH</td>
        </tr>
        <tr>
            <td>Kevin</td>
            <td><img src="~/images/kevin.jpg"></td>
            <td>Philosophy</td>
        </tr>
        <tr>
            <td>Irma Ratiani</td>
            <td><img src="~/images/რატიანი.jpeg">  </td>
            <td>Literature</td>
        </tr>
        <tr>
            <td>Lela</td>
            <td><img src="~/images/lela.jpg"> </td>
            <td>CS</td>
        </tr>
        <tr>
            <td>Giorgi Dalaqishvili</td>
            <td><img src="~/images/dalaqa.jpg"></td>
            <td>
                Physics, molecular biology

            </td>
        </tr>
        <tr>
            <td>Mariam Nebieridze</td>
            <td><img src="~/images/nebieridze.jpg"></td>
            <td>Communication</td>
        </tr>
        <tr>
            <td>Tsitsishvili</td>
            <td><img src="~/images/tsitso.jpg"></td>
            <td>Physics</td>
        </tr>
        <tr>
            <td>Tinatin Davitashvili</td>
            <td><img src="~/images/tina.jpg"></td>
            <td>Computer Engineering</td>
        </tr>
    </table>







</section>