
@{
    ViewData["Title"] = "mainpage";
}


 @*-------course-----------*@ 
<section class="course">
    <h1>Courses we offer</h1>
    <p>SDSU offers variety of courses, from which you can choose</p>
    <div class="row">
        <div class="course-col">
            <h3>Intermediate</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Vero similique consequatur assumenda id debitis
                consequuntur magnam mollitia inventore repellat illo,
                officia eveniet architecto iure nihil ad maxime?
                Voluptate, recusandae consequatur?
            </p>
        </div>
        <div class="course-col">
            <h3>Intermediate</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Vero similique consequatur assumenda id debitis
                consequuntur magnam mollitia inventore repellat illo,
                officia eveniet architecto iure nihil ad maxime?
                Voluptate, recusandae consequatur?
            </p>
        </div>
        <div class="course-col">
            <h3>Intermediate</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Vero similique consequatur assumenda id debitis
                consequuntur magnam mollitia inventore repellat illo,
                officia eveniet architecto iure nihil ad maxime?
                Voluptate, recusandae consequatur?
            </p>
        </div>
        <div class="course-col">
            <h3>Intermediate</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Vero similique consequatur assumenda id debitis
                consequuntur magnam mollitia inventore repellat illo,
                officia eveniet architecto iure nihil ad maxime?
                Voluptate, recusandae consequatur?
            </p>
        </div><div class="course-col">
            <h3>Intermediate</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Vero similique consequatur assumenda id debitis
                consequuntur magnam mollitia inventore repellat illo,
                officia eveniet architecto iure nihil ad maxime?
                Voluptate, recusandae consequatur?
            </p>
        </div>
        <div class="course-col">
            <h3>Intermediate</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Vero similique consequatur assumenda id debitis
                consequuntur magnam mollitia inventore repellat illo,
                officia eveniet architecto iure nihil ad maxime?
                Voluptate, recusandae consequatur?
            </p>
        </div>

    </div>
</section>

 Javascript thing to toggle menu 
<section class="campus">
    <h1>
        THE CAMPUS
    </h1>
    <p>SDSU campus offers amazing experience and student life(when there is not a fricking pandemic out there of course)</p>
    <div class="rows">
        <div class="campus-col">

            <img src="~/images/campus.png">


        </div>
        <div class="campus-col">

            <img src="~/images/building2.jpg">

        </div>
        <div class="campus-col">

            <img src="~/images/building3.jpg">

        </div>
        <div class="campus-col">

            <img src="~/images/building4.jpg">

        </div>
        <div class="campus-col">

            <img src="~/images/building5.jpg">
        </div>
        <div class="campus-col">

            <img src="~/images/campus.png">

        </div>

    </div>


</section>